* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

header, .top-bar, .outter_nav_div, .navbar, .nav-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #172635;
  color: #bdb0b0;
  font-size: 12px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;

}

.contact-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-info a {
  color: #bdb9b9;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 4px;
  font-size: 12px;
}

.contact-info b {
  color: #f1eded;
  font-size: 15px;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}

.social-media-icons i {
  color: #bdb0b0;
  font-size: 14px;
  text-decoration: none;
}

.social-media-icons a {
  text-decoration: none;
  outline: none;
  position: relative;
}

.social-media-icons a::before {
  content: none;
}

.contact-info a:hover,
.social-media-icons i:hover {
  color: #fff;
  cursor: pointer;
}

.outter_nav_div {
  position: relative;
}

.container-fluid {
  gap: 1.6%;
  padding: 0px 50px !important;
  height: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 4%;
}

.navbar-brand img {
  height: 60px;
  padding: 4px 0px;
}

.navbar-brand h3 {
  font-weight: 550;
  font-size: 28px;
  padding-top: 2%;
}

.navbar-brand a {
  text-decoration: none;
  color: black;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
}


.dropdown-menu.about-us.show,
.dropdown-menu.services.show,
.dropdown-menu.products.show {
  display: flex !important;
  width: 100vw !important;
  right: 0 !important;
  gap: 20px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  position: absolute !important;
  max-width: 100vw !important;
  z-index: 1050;
  border-radius: 0;
}

.dropdown-menu.about-us.show {
  left: -365% !important;
  top: 55px;
}

.dropdown-menu.services.show {
  left: -485% !important;
  top: 55px;
}

.dropdown-menu.products.show {
  left: -570% !important;
  top: 55px;
}

.dropdown-menu li p {
  font-size: 20px;
}

.dropdown-menu.about-us li p,
.dropdown-menu.services li p,
.dropdown-menu.products li p {
  padding-top: 45px;
}

.dropdown-menu.about-us li:nth-of-type(3) {
  padding-top: 7%;
}

.dropdown-menu.products li:nth-of-type(3) {
  padding-top: 6.5%;
}

.dropdown-menu.services li:nth-of-type(3),
.dropdown-menu.services li:nth-of-type(4) {
  padding-top: 89px;
}

.dropdown-image img {
  width: 500px;
  height: 300px;
}

.about-us .last-section a {
  padding-left: 150px;
}

.products .last-section a {
  padding-left: 45px;
}

.last-section-services a {
  padding-left: 80px;
}

.about-us-section a,
.last-section a,
.services-section a,
.second-section a,
.last-section-services a {
  font-size: 13px;
  color: #565353;
  margin-bottom: 15px;
}

.about-us-section a:hover,
.last-section a:hover,
.services-section a:hover,
.second-section a:hover,
.last-section-services a:hover {
  color: rgb(122, 122, 243);
  cursor: pointer;
  text-decoration: underline;
}

.contact-us {
  background-color: rgb(42, 42, 121);
  border-radius: 5px;
  padding: 6px;
  margin-right: 13%;
}

.contact-us a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.contact-us i {
  font-size: 14px;
}

.language_div {
  background-color: white;
  padding: 7px 13px;
  box-shadow: 0 2px 6px #b3b6b9;
  border-radius: 3px;
  margin-right: 0px;
  margin-top: 20px;
  position: fixed;
  left: 89%;
  top: 4.5%;
}

.language_div a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 19px;
}

.language_div i {
  color: gray;
  font-size: 15px;
}

.language_div img {
  height: 30px;
  width: 41px;
  margin-right: 10px;
  image-resolution: 900px;
}

.language_div b {
  font-size: 18px;
}

.homepage {
  position: relative;
  overflow: hidden;
  height: 78vh;
  width: 100%;
  text-align: left;
}

.homepage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -2;
}

.homepage .content {
  z-index: 1;
  color: rgb(10, 10, 10);
  padding-left: 20px;
  background: white;
  opacity: 0.9;
  position: absolute;
  top: 35%;
  width: 40%;
  font-size: 1.1rem;
  font-weight: bold;
}

.homepage .content h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.homepage .content p {
  font-size: 1.1rem;
}

.bar-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-services .bar-main {
  margin-bottom: 20px;
}

.bar.bar-big {
  height: 5px;
  width: 90px;
  background: #aec6ef;
  margin: 9px 0px;
  position: relative;
  border-radius: 30px;
}

.bar.bar-big::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #002e7f;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@keyframes MOVE-BG {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

.section-about-us {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.heading {
  width: 50%;
}

.img-gif {
  width: 50%;
}

.heading h3::before {
  background: url(./Images/DotDesign.png) no-repeat center center;
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 0px;
  vertical-align: middle;
}

.welcome-msg {
  font-size: 15px;
  color: #6a94f7;
  font-weight: bold;
}

.work-img {
  width: 550px;
  height: 300px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.section-about-us h3 {
  color: rgb(4, 4, 136);
  text-align: center;
}

.about-us-list {
  list-style-type: none;
  font-size: 15px;
  margin-bottom: 20px;
  padding-left: 0px;
  margin-left: 0;
  color: #3a3939;
}

.about-us-list li {
  margin-bottom: 10px;
  display: flex;
}

.about-us-list li i {
  margin-right: 8px;
  color: blue;
  font-size: 15px;
  margin-top: 3px;
}

.vision-mission {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: flex-start;
  gap: 25px;
  width: 100%;
  margin: 0;
  padding: 20px 120px;
  box-sizing: border-box;
}

.vision-mission h6 {
  font-size: 28px;
  color: rgb(57, 57, 134);
  margin-bottom: 10px;
}

.vision-mission p {
  font-size: 16px;
  justify-content: space-between;
  color: #2e2e2e;
}

.section p {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  text-align: justify;
}

.section {
  flex: 1;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.vertical-line-l {
  border-left: 2px solid #5d40e0;
}

.vertical-line-r {
  border-left: 2px solid #5d40e0;
}


.our-services {
  background: url(./Images/ServicesBGimg.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
}

.our-services h2 {
  color: rgb(4, 4, 136);
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
}


.wlcm-msg {
  font-size: 16px;
  justify-content: space-between;
  text-align: center;
  color: #2e2e2e;
  padding-left: 90px;
  padding-right: 65px;
}

.services_outter_body {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.pic {
  width: 15%;
  height: auto;
}

.service-card {
  background: white;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10PX;
  transition: transform 1s ease;
  margin-bottom: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);

}


.service-card:hover {
  transform: translateY(-10px);
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.service-card h4 {
  color: #232374;
  font-weight: bold;
  font-size: 20px;
}

.service-card a {
  text-decoration: none;
  color: #5ab0db;
  font-weight: bold;

}

.service-card p {
  margin-top: 10px;
}

.service-card span {
  text-align: justify;
}

.numbers {
  background: url(./Images/BG.png);
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 60px;
  gap: 80px;
  position: relative;
}

.cube {
  position: relative;
  transform: translateY(-130%);
  animation: rotateClockwise 25s infinite alternate;
  left: 5%;
  height: 80px;
  width: 80px;
}

@keyframes rotateClockwise {
  from {
    transform: translateY(-130%) rotate(0deg);
  }

  to {
    transform: translateY(-130%) rotate(360deg);
  }
}

.numbers h5 {
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.diamond {
  position: absolute;
  transform: translateY(70%);
  animation: rotateCounterClockwise 25s infinite alternate;
  right: 18%;
  width: 110px;
  height: 110px;
}

@keyframes rotateCounterClockwise {
  from {
    transform: translateY(70%) rotate(0deg);
  }

  to {
    transform: translateY(70%) rotate(360deg);
  }
}

.features {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 20px;
}

.img-content {
  width: 50%;
}

.text-content {
  width: 50%;
}

.features img {
  border-radius: 1rem;
  width: 80%;
  height: 100%;
}

.text-content h2 {
  margin-top: 30px;
}

.features-outter-body {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.features i {
  margin-bottom: 10px;
  margin-top: 5px;
}

.col1 i {
  color: #28A745;
  font-size: 55px;
}

.col2 i {

  color: #DC3545;
  font-size: 55px;
}

.col3 i {
  background-color: #FD7E141A;
  color: orange;
  border-radius: 50%;
  font-size: 20px;
  padding: 7%;
}

.col4 i {
  color: #17A2B8;
  font-size: 55px;
}

.features span {
  font-size: 20px;
}

.features-outter-body p {
  margin-top: 12px;
  text-align: justify;
}

.global-presence h3 {
  color: rgb(4, 4, 136);
  text-align: center;
  padding-top: 20px;
}

.presence-content {
  display: flex;
  flex-direction: row;
}

.image-content {
  width: 70%;
}

.map {
  width: 750px;
  height: 380px;
}

.carousel {
  width: 350px;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  background: linear-gradient(to right, #001f5f, #00cfff);
  color: white;
  padding: 20px 0px;
  box-sizing: border-box;
}

.slide p {
  font-size: 15px;
  margin-bottom: 20px;
}

.slide h2 {
  font-size: 20px;
}

.navigation-manual {
  background: linear-gradient(to right, #001f5f, #00cfff);
}

@keyframes slideChanger {
  0% {
    transform: translateX(0%);
  }

  33.33% {
    transform: translateX(-100%);
  }

  66.66% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }

}

.slides {
  animation: slideChanger 10s infinite;
}


.manual-btn {
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  margin: 0 5px;
}

input[type="radio"] {
  display: none;
}

#radio1:checked~.slides {
  transform: translateX(0%);
}

#radio2:checked~.slides {
  transform: translateX(-100%);
}

#radio3:checked~.slides {
  transform: translateX(-200%);
}

.client-link {
  display: block;
  padding: 15px;
  color: #1e86f5;
  border-top: 1px solid #00aaff;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #00aaff;
  border-radius: 1px;
}

.client-link:hover {
  background: linear-gradient(to right, #00cfff, #3f72da);
  color: white;
}

.newsletter-content {
  background: url(./Images/NewsletterBG.jpg);
  border-radius: 9px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  margin-top: 70px;
  margin-bottom: 60px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-section p {
  margin: 5px 0 0;
  font-size: 1rem;
}

.form-section {
  display: flex;
  background-color: white;
  border-radius: 7px;
}

.form-section input {
  padding: 8px;
  padding-right: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.15;
  font-size: 20px;
  background-color: transparent;
  border-radius: 5px;
}


.form-section button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.arrow-image {
  position: relative;
}

.arrow-image img {
  width: 180px;
  height: auto;
  left: 285%;
  position: relative;
  transform: translateY(-50%);
  animation: moveUpDown 4s infinite alternate;
}


@keyframes moveUpDown {
  from {
    top: 0px;
  }

  to {
    top: 5px;
  }
}

.footer-container {
  background-color: #131e29;
  color: white;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  overflow: hidden;
  border-bottom: 1px solid #131e29;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-contact-info {
  width: 26%;
  text-align: justify;
}


.footer-contact-info a {
  text-decoration: none;
  color: white;
}

.footer-contact-info hr {
  width: 50%;
}

.footer-contact-info li {
  list-style-type: none;
  display: block;
  padding-bottom: 2px;
}

.footer-contact-info li p {
  margin: 0;
  padding-left: 25px;
}

.quick-link {
  display: flex;
  flex-direction: column;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-quick-link hr {
  width: 70%;
}

.link-list li {
  margin-bottom: 2px;
}

.footer-quick-link li {
  list-style-type: none;
}

.footer-quick-link a {
  text-decoration: none;
  color: white;
}

.footer-quick-link img {
  margin-top: 15px;
  height: 80px;
}

.footer-quick-link {
  /*  padding-left: 33px; */
  width: 20%;
}

.footer-discuss-next {
  /* padding-left: 35px; */
  width: 26%;
}

.footer-discuss-next hr {
  width: 80%;
}

.footer-discuss-next li {
  list-style-type: none;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-discuss-next a {
  text-decoration: none;
  color: rgb(67, 100, 248);
  display: flex;
  background-color: white;
  width: 50%;
  height: 35px;
  line-height: 2.3;
  justify-content: center;
  border-radius: 35px;
  margin-top: 5px;
  outline: none;
}

.footer-discuss-next a:hover {
  color: blue;
  cursor: pointer;
}

.footer-discuss-next li:nth-of-type(3) {
  margin-top: 20px;
}

.footer-follow hr {
  width: 50%;
}

.footer-follow .container {
  display: flex;
  flex-direction: column;
}

.footer-social-media-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

.footer-social-media-icons i {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 17px;
  border-radius: 50%;
  padding: 15px;
  width: 46px;
  outline: none;
}

.footer-social-media-icons a {
  text-decoration: none;
  outline: none;
}

.footer-social-media-icons a::before {
  content: none;
}

.direction a {
  text-decoration: none;
  color: rgb(67, 100, 248);
  display: inline-block;
  background-color: white;
  border-radius: 35px;
  margin-top: 30px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  line-height: 2.25;
}

.direction a:hover {
  color: blue;
  cursor: pointer;
}

.copyright {
  display: flex;
  padding-bottom: 10px;
  padding-top: 6px;
  flex-direction: row;
  gap: 33%;
  justify-content: center;
}

.copyright div {
  color: rgb(192, 190, 190);
}

.copyright a {
  text-decoration: none;
  color: rgb(192, 190, 190);
}

.copyright a:hover {
  color: rgb(28, 28, 146);
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar hr {
    display: none;
  }

  .section:first-child p {
    border-left: none;
    padding-left: 0;
    margin-left: 0px;
    margin-right: 0px;
  }

  #headerContainer {
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .language_div {
    transition: top 0.5s ease-in-out;
  }

  .language_div.scrolled {
    top: 2.5%;
  }

}

@media (min-width:320px) and (max-width: 767px) {

  .contact-info a:nth-of-type(1),
  .contact-info a:nth-of-type(2) {
    display: none;
  }

  .contact-info b {
    display: none;
  }

  .social-media-icons {
    gap: 15px;
    font-size: 8px;
  }

  .top-bar {
    padding-right: 15px;

  }

  .outter_nav_div {
    position: absolute;
    z-index: 99;
  }

  .container-fluid {
    gap: 1.6%;
    padding: 0px 8px !important;
    height: 0%;

  }

  .navbar-brand img {
    padding: 0px;
    height: 40px;
  }

  .navbar-brand h3 {
    font-weight: 550;
    font-size: 16px;
  }

  .navbar hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
  }

  .nav-links a {
    font-weight: 100;
    margin-right: 0px;
    padding: 0;
    margin: 0;
  }

  .nav-links li i {
    float: right;
  }

  .dropdown-image img {
    display: none;
  }

  .dropdown-menu.about-us.show,
  .dropdown-menu.services.show,
  .dropdown-menu.products.show {
    left: -2% !important;
    top: -16px;
    flex-direction: column;
    gap: 0px;
    padding: 5%;
    position: relative !important;
  }

  .dropdown-menu.about-us li p,
  .dropdown-menu.about-us li:nth-of-type(3),
  .dropdown-menu.services li:nth-of-type(3),
  .dropdown-menu.services li:nth-of-type(4),
  .dropdown-menu.services li p,
  .dropdown-menu.products li p,
  .dropdown-menu.products li:nth-of-type(3) {
    padding-top: 0px;
  }

  .about-us-section a,
  .last-section a,
  .services-section a,
  .second-section a,
  .last-section-services a {
    font-size: 15px;
    margin-bottom: 5%;
    margin-left: 7%;
    color: #393737;
  }

  .about-us .last-section a,
  .products .last-section a {
    padding-left: 0px;
  }

  .contact-us {
    float: right;
    margin-right: 0%;
  }

  .language_div {
    position: absolute;
    left: 52%;
    top: -9px;
    padding: 6px 4px;
  }

  .navbar-collapse.collapse.show {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }

  .homepage {
    height: 37vh;
  }

  .homepage video {
    height: 115%;
  }

  .homepage .content {
    color: rgb(248, 247, 247);
    padding-left: 0px;
    background: #807E78;
    opacity: 0.9;
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center
  }

  .homepage .content h1 {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.3px;
    font-weight: bold;
    padding-top: 2px;
  }

  .homepage .content p {
    font-size: 0.6rem;
  }

  .section-about-us {
    display: block;
    padding-top: 30px;
  }

  .section-about-us h3 {
    font-size: 28px;
  }

  .heading {
    width: 100%;
  }

  .img-gif {
    width: 100%;
  }

  .welcome-msg {
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
  }

  .welcome-msg br {
    display: none;
  }

  .about-us-list {
    font-size: 16px;
  }

  .about-us-list br {
    display: none;
  }

  .about-us-list li i {
    font-size: 20px;
  }

  .section-about-us h5 {
    font-size: 25px;
  }

  .work-img {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .vision-mission {
    display: block;
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 10px;
  }

  .vision-mission h6 {
    font-size: 30px;
  }

  .vision-mission p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .vertical-line-l1 {
    border-left: 2px solid #5d40e0;
  }

  .our-services h2 {
    padding-top: 0px;
    margin-bottom: 15px;
  }

  .wlcm-msg {
    font-size: 16px;
    justify-content: space-between;
    text-align: center;
    color: #2e2e2e;
    padding-left: 15px;
    padding-right: 12px;
  }


  .services_outter_body {
    grid-template-columns: auto;
    gap: 0px;
  }

  .service-card h4 {
    font-size: 15px;
  }

  .service-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .service-card span {
    font-size: 12px;
  }

  .our-services {
    padding-bottom: 0px;
    margin-bottom: 20px;
  }

  .numbers {
    display: block;
    padding-top: 20px;
    padding-left: 15px;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .numbers h5 {
    font-weight: 450;
    font-size: 1.35rem;
    margin-bottom: 30px;
  }

  .cube {
    transform: translateY(-60%);
  }

  @keyframes rotateClockwise {
    from {
      transform: translateY(-60%) rotate(0deg);
    }

    to {
      transform: translateY(-60%) rotate(360deg);
    }
  }

  .diamond {
    transform: translateY(-20%);
    left: 70%;
    width: 100px;
    height: 100px;
  }

  @keyframes rotateCounterClockwise {
    from {
      transform: translateY(-20%) rotate(0deg);
    }

    to {
      transform: translateY(-20%) rotate(360deg);
    }
  }

  .features {
    flex-direction: column;
  }

  .features img {
    width: 100%;
  }

  .img-content {
    width: 100%;
  }

  .text-content {
    width: 100%;
  }

  .features-outter-body p {
    padding-left: 6px;
    margin-top: 0px;
    margin-bottom: 0.1rem !important;
  }

  .features-outter-body {
    grid-template-columns: auto;
    gap: 0px;
  }


  .col1 span, .col2 span, .col4 span {
    top: -6%;
    position: relative;
  }

  .features i {
    margin-right: 10px;
  }

  .features br {
    display: none;
  }

  .heading-msg {
    text-align: justify;
  }

  .global-presence h3 {
    padding-top: 0px;
  }

  .presence-content {
    flex-direction: column;
  }

  .image-content {
    width: 100%;
  }

  .map {
    max-width: 100%;
    height: auto;
  }

  .carousel {
    width: 100%;
    padding-top: 20px;
  }

  .client-link {
    padding: 4px;
    font-size: 15px;
  }

  .newsletter-content {
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -60px;
    padding-bottom: 20px;
  }

  .form-section {
    width: 100%;
  }

  .text-section h2 {
    font-size: 1.8rem;
  }

  .text-section p {
    font-size: 1.1rem;
    padding-bottom: 30px;

  }

  .form-section input {
    padding-right: 0px;
    padding: 0px;
    font-size: 18px;
    width: 70%;
  }

  .form-section input::placeholder {
    padding-left: 5px;
  }

  .form-section button {
    font-size: 15px;
    padding: 10px;
    width: 30%;
  }

  .arrow-image {
    position: absolute;
  }

  .arrow-image img {
    width: 220px;
    left: 18%;
    height: 50px;
    transform: translateY(40%);
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-contact-info {
    width: 100%;
  }

  .footer-contact-info hr {
    width: 40%;
  }

  .footer-quick-link img {
    height: 100px;
    margin-top: 0px;
  }

  .footer-quick-link hr {
    width: 50%;
  }

  .quick-link {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .link-list {
    width: 50%;
  }

  .footer-columns {
    flex-direction: row;
    align-items: flex-end;
  }

  .footer-discuss-next hr {
    width: 80%;
  }

  .footer-discuss-next a {
    width: 100%;
  }

  .footer-discuss-next, .footer-quick-link {
    width: 100%;
  }

  .column-left,
  .column-right {
    width: 45%;
  }

  .footer-follow hr {
    width: 40%;
  }

  .footer-social-media-icons {
    gap: 15px;
  }

  .footer-social-media-icons div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright div:nth-of-type(1) {
    margin-left: 0px;
    margin-bottom: 8px;
  }

  .copyright div:nth-of-type(2) {
    margin-left: 0px;
  }

  .copyright {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

}